{% extends "../base.html" %}


{% block main %}
    <div>
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ login_form.as_table }}
            <button>Login</button>
        </form>
    </div>
{% endblock main %}