{% extends "../base.html" %}


{% block main %}
    <div>
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ signup_form.as_table }}
            <button>Signup</button>
        </form>
    </div>
{% endblock main %}