{% extends "../base.html" %}


{% block main %}
    <div>
        <h1>Create Receipt</h1>
        <form method="post">
            {% csrf_token %}
            {{ receipt_form.as_table }}
            <button>Create</button>
        </form>
    </div>
{% endblock main %}