{% extends "../base.html" %}


{% block main %}
    <h1>
        My Receipts    
    </h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in categories %}
            <tr>
                <td>{{ cat.name }}</td>
                <td>{{ cat.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock main %}
