{% extends "../base.html" %}


{% block main %}
    <h1>
        My Receipts    
    </h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for acc in accounts %}
            <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.number }}</td>
                <td>{{ acc.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock main %}
